div.related {
    background: #00896f;
    color: #ffffff;
}

div.admonition p.admonition-title
{
    background-color: #00896f;
}

div.hint p.admonition-title,
div.tip p.admonition-title {
    background-color: #586e75;
}

div.warning p.admonition-title,
div.important p.admonition-title {
    background-color: #e07b2b;
}


div.caution p.admonition-title,
div.attention p.admonition-title,
div.danger p.admonition-title,
div.error p.admonition-title {
    background-color: #dc322f;
}

div.related ul li a {
    color: #ffffff;
}

.toggle .header {
    display: block;
    clear: both;
}

div.section h2 {
    border-bottom: 1px solid #ccc;
}

div.section h3, h4, h5, h6 {
    border-bottom: 1px solid #bbb;
}
